*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
nav {
    display: flex;
    justify-content:flex-end;
    height: 100px;
    align-items: center;
}
nav ul {
    display:flex;
    list-style-type: none;
}
nav ul li a {
    margin-right: 90px;
    margin-left: 60px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: #ffffffff;
}
header {
    height: 950px;
    background-image:url(../img/TequilaDonJulio.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
h1{
    color: #fff;
}

.card-container {
    max-width: 1000px;
    margin: 0 auto;

}
.card {
    width: 300px;
    padding: 2rem 1rem;
    border-radius: 2px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
}
.card h2 {
    color: #ffffffff;
    margin: 1rem;
}




